.mainCard{
    height: 137vh;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1484069560501-87d72b0c3669?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 2vh;
    margin-top: -37vh;
    padding-top: 30vh;
    position: relative;
}


.card{
    width: 50%;
    height: 30%;
    border-radius: 30px;
    margin: auto;
    margin-top: 37vh;
    background: #108dc7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ef8e38, #108dc7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ef8e38, #108dc7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: -12px 13px 28px 9px rgba(0,0,0,0.4);
    -moz-box-shadow: -12px 13px 28px 9px rgba(0,0,0,0.4);
    box-shadow: -12px 13px 28px 9px rgba(0,0,0,0.4);
}
.card > input {
    border-radius: 10px;
    width: 30%;
}
.card > input:focus{
    outline: none
}
.card .btn{
    margin-bottom: 2%;
}

ul.answers{
    display: inline;
    list-style: none;
  }
ul.answers > li {
    display: inline-block;
    width: 50%;
  }